extends layout

block content
  h1= title
  p This is your new Twitch Extension!
  p Go to <a href="/video_overlay.html">video_overlay.html</a> to view it.
  p Go to <a href="/admin">admin</a> to view the dev panel.